.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {padding-top: 5rem;}
h1,h2,h3,h4,h5,h6 {color: #19692c;}
.error-field {border: 1px solid #d0021b !important;}
.bg-dark {background-color: #13322B !important;}
.menu-iconos .card-body p {padding: 1rem;}
.menu-iconos .card-body p img {width: 100%;}
#main-footer {background-color: #13322B; color:#ffffff; min-height: 3rem; margin-top: 1rem;}
.footer-pleca {background-image: url(/util/images/pleca_plumaje.svg); background-repeat: repeat-x; min-height: 3rem;}

.mapouter {position:relative; text-align:right; height:480px; width:100%;}
.gmap_canvas {overflow:hidden; background:none!important; height:480px; width:100%;}
.gmap_canvas iframe {width: 100%; height: 100%}

.toast {width: 80%;max-width:80%;}

.bootstrap-select>.dropdown-toggle{border:1px solid #ced4da}